@tailwind base;

@tailwind components;

@tailwind utilities;

.card{
    width:17rem;
    margin-right:2.2rem;
    margin-top:2rem;
    height:27rem;
    background-repeat:no-repeat;
    background-size: cover;
    flex-grow:1;
    flex-shrint:1; 
}


.card h4{
    margin-top:17rem;
    padding:3rem; 
}

.card:hover{
    cursor: pointer;
    opacity: 0.6;   
}

.card:hover h4{
    animation: bounce 1s;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.slide__effect{
    animation: slidein 0.3s;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
    }
}

